@page "/"

<PageTitle>Index</PageTitle>
<section>
<h1>Summering</h1>

<p>Detta är min första applikation som jag skapat med Razor Webassembly!</p>
<p>Uppgiften har vart rolig att utföra och jag gillar Razor väldigt mycket så här långt, det som jag tar med mig från uppgiften är framförallt att min planering kan bli mycket bättre, la ner väldigt mycket tid på att försöka få över min styling från moment 1.1 till moment 2.2 utan större framgång.</p>
<p class="mt-2">Inser dock i efterhand att jag satt i index.html och klistrade in en del styling när jag borde ha arbetat i 'MainLayour.razor', så har haft världens hjärnsläpp.</p>
<p>Så tror att stressen över att jag ska till Alperna och behöver arbeta in lite tog lite av mina krafter i denna uppgift då jag kanske har försökt få den klart lite för snabbt för mitt eget bästa..</p>
<ul>
    <h2 class="mt-3">Lärdommar</h2>
    <li class="ml-3">Struktrurera komponenterna bättre</li>
    <li class="ml-3">Dubbelkolla vilka filer som faktiskt ska 'arbetas i'</li>
    <li class="ml-3">Ha inte för bråttomt</li>
    <li class="ml-3">Razor - väldigt smidigt och kul att arbeta med (bortsett från mina tabbar)</li>
    <li class="ml-3">Att klistra in styling från föregående moment, inte nödvändigtvis bättre/så smidigt som det låter!</li>
</ul>
</section>

