.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    min-height: 90vh;
    margin: 2rem;
}

body {
	background-color: #fafafa;
}



@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
    
}

@media (max-width: 572px) {
	

    .sidebar {
       max-width: 480px;
   }

   
}