

 <div class="toggleBtn">
        <div class="hamburger">
          <span></span>
        </div>
      </div>
      <aside>
        <h3>Menu</h3>
        <nav class="menu">
<NavLink class="sidebar-li" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
             <NavLink class="sidebar-li" href="counter">
                Counter
            </NavLink>
        </nav>
      </aside>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
