
.sidebar {
	flex: 1 1 0;
	max-width: 300px;
	padding: 2rem 1rem;

}

.sidebar h3 {
	color: #c4c4c4;
	font-size: 1.6rem;
	text-transform: uppercase;
	margin-bottom: 0.5em;
	text-align: center;
}




@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
